.connectionWrapper {
    background-color: #151515;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100%;
  }
  
  
.connectionCard {
    width: 1200px;
    height: 100vh;
    background-color: #313438;
    z-index: 1;
    box-shadow: 10px 50px 210px rgba(255, 255, 255, 0.2);
}

.dropdown {
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 43%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: fadeIn 5s forwards;
}

.cardsHolder {
  opacity: 0;
}

