.App {
  text-align: center;
}


.themeWrapper {
  background-color: #151515;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 1100px;
  z-index: 2;
}


.themeCard {
  width: 1200px;
  height: 1100px;
  background-color: #313438;
  z-index: 1;
  box-shadow: 10px 50px 210px rgba(255, 255, 255, 0.2);
}

.meHolder {
  position: relative;
  top: 1%;
  left: -10%;
  height: 40px;
  width: 1200px;
}