* {
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    font-family: segoe ui, helvetica neue, helvetica, arial, sans-serif;
   -webkit-font-smoothing: antialiased;
 }
 

 
 p {
    float: left; 
    line-height: 40px;
    font-size: 160%;
    color: #9f9f9f;
 }
 
 #scroller {
    height: 42px;
    line-height: 40px;
    float: left;
    margin-left: 14px;
    overflow: hidden;
    margin-bottom: 6px;
 } 
 
 #scroller span {
    display: block; 
    font-size: 140%;
    color: #ffffff;
 }
 
 #scroller .inner {
    animation: scroll 120s infinite ease-out;
 }
 
 @keyframes scroll {
    0%  {margin-top: 0px;}
    29%  {margin-top: 0px;}
    30%  {margin-top: -42px;}
    59%  {margin-top: -42px;}
    60%  {margin-top: -84px;}
    99%  {margin-top: -84px;}
    100% {margin-top: 0px;}
 }

 #image1 {
   position: relative;
   margin-top: 10%;
   margin-left: -1%;
   height: 40%;
   width: 40%;
 }

 #image2 {
   position: relative;
   margin-top: 10%;
   margin-left: 20%;
   height: 40%;
   width: 40%;
 }

 .fade-in {
   transition: opacity 1s ease;
}
 .fade-out {
   opacity: 0;
   transition: opacity 1s ease;
}